@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    list-style: none;
}

body{
    background: #c4c4c4;
    font-size: 14px;
    line-height: 20px;
}

/******************
resume_whole 
*******************/

.wrapper{
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 10px;
}

.wrapper .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.wrapper .item{
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}

.wrapper .item:last-child{
    border-bottom: none;
}

.wrapper .name{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 4px;
}



/******************
resume_left
*******************/

.wrapper .left{
    width: 35%;
    background: #26252d;
}

.image{
    width: 100%;
}

.image img{
    width: 100%;
    display: block;
}

.wrapper .left .info{
    color: #84838b;
}

.wrapper .left .bottom{
    padding: 20px 30px;
}

.wrapper .left .name-role {
    display: none;
}

.wrapper .left .name-role .role{
    color: #84838b;
}


/******************
resume_left-contact
*******************/

.wrapper .left .contact .info{
    margin-top: 10px;
}

.wrapper .left .contact .info .subtitle{
    color: #fff;
    margin-bottom: 2px;
}

/******************
resume_left-skills
*******************/

.wrapper .left .skills  .skills-list {
    display: flex;
    justify-content:space-between;
    margin-bottom: 5px;
}

.wrapper .left .skills .skills-list .skills-bar p{
    position: relative;
    width: 125px;
    height: 20px;
    background: #fff;
}

.wrapper .left .skills .skills-list .skills-bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background: #0175b2;
    height: 100%;
    width: 100%;
}



/******************
resume_right
*******************/

.wrapper .right{
    width: 65%;
    padding: 20px 40px;
}

.wrapper .right .name-role .name{
    color: #26252d;
    font-size: 32px;
}

.wrapper .right .name-role .role{
    font-size: 14px;
    text-transform: uppercase;
}

.wrapper .right .item .title{
    color: #26252d;
}

.wrapper .right .data{
    display: flex;
}


/******************
resume_Education & Experience
*******************/

.wrapper .right .data .year{
    padding-right: 35px;
    width: 130px;
    position: relative;
}

.wrapper .right .data .year:before{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #2625ed;
    border-radius: 50%;
}

.wrapper .right .data .year:after{
    content: '';
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 100%;
    background: #0175b2;
}

.wrapper .right .data:last-child .year:after{
    display: none;
}

.wrapper .right .data .content{
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 130px);
}
    
/******************
resume_social-media
*******************/

.wrapper .right .social-media .info{
    display: flex;
   justify-content: space-between;
   text-align: center;
}

.wrapper .right .social-media .media-info .media-icon {
     font-size: 38px;
     width: 0 auto;
     margin-bottom: 10px;
}

.wrapper .right .social-media .media-info .media-icon a{
    color: #0175b2;
}

/******************
RWD
*******************/

@media screen and (max-width:800px) {
    .wrapper .right .name-role{
    display: none;
    }
    .wrapper .left .name-role{
        display: block;
    }
   .wrapper{
       width: 95%;
       margin: 10px auto;
       flex-direction: column;
   }
   .wrapper .left,
   .wrapper .right{
       width: 100%;
   }
}


@media screen and (max-width:424px) {
    .wrapper .right{
        padding: 20px 30px;
    }
    .wrapper .right .data{
        flex-direction: column;
    }

    .wrapper .right .data .year{
        padding: 0;
        margin-bottom: 5px;
        width: 100%;
        color: #0175b2;
    }
    .wrapper .right .data .year:before,
    .wrapper .right .data .year:after{
        display: none;
    }
    .wrapper .right .data .content{
        width: 100%;
        padding: 0;
    }
    .wrapper .right .social-media .media-info .media-icon{
        font-size: 24px;
    }
}